body {
    background-color: #eeeeee;
}

img{
    max-height: 100%;
    max-width: 100%;
}

image{}

.particleimage{border:solid 1px black; margin:10px;}

.particlesolution{border:solid 1px black; margin:10px;}

.selectedimage {
    box-shadow: 0 0 20px #752121;
    opacity: 0.45;
    border: solid 1px #ff1100;
}

.fixedselection {
    box-shadow: 0 0 25px green;
    opacity: 0.1;
    border: solid 2px green;
    margin: 10px;
}

.imagebackground{
   background: green
}
