<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Login READMON Manager</title>
  <!-- Bootstrap core CSS-->
  <link href="static/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="static/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- Custom styles for this template-->
  <link href="static/css/sb-admin.css" rel="stylesheet">
</head>

<body class="bg-dark">
  <div class="container">
    <div class="card card-login mx-auto mt-5">
      <div class="card-header">Login</div>
      <div class="card-body">
        <form action="/login" method="POST">
          <div class="form-group">
          <div class="form-group">
            <label for="login">Username</label>
            <input class="form-control" id="login" name="login" type="text" placeholder="Username" maxlength="64" required>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input class="form-control" id="password" name="password" type="password" placeholder="Password" maxlength="64" required>
          </div>
          <!--
          <div class="form-group">
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox"> Remember Password</label>
            </div>
          </div>-->
          <input class="btn btn-primary btn-block" href="login" type="submit" value="Login">
          <!--<a class="btn btn-primary btn-block" href="{% url 'logon' %}">Login</a>-->
        </form>
        <!--<div class="text-center">
          {% if error == 1 %}
            <div class="alert alert-danger mt-3" role="alert">
              <strong>Please try again:</strong> Wrong username or password.
            </div>
          {% endif %}
          <a class="d-block small mt-3" href="register.html">Register an Account</a>
          <a class="d-block small" href="forgot-password.html">Forgot Password?</a>
        </div>-->
      </div>
    </div>
  </div>
  <!-- Bootstrap core JavaScript-->
  <script src="static/js/jquery.min.js"></script>
  <script src="static/js/bootstrap.bundle.min.js"></script>
  <!-- Core plugin JavaScript-->
  <script src="static/js/jquery.easing.min.js"></script>
</body>

</html>
